workflows/job-agent.json
{
  "name": "Job Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 8, "triggerAtMinute": 0 }]
        }
      },
      "id": "node-cron-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={\n  \"postes\": [\"Product Manager\", \"Data Product Manager\"],\n  \"contrats\": [\"CDI\"],\n  \"salaire_min\": 45000,\n  \"teletravail\": \"full\",\n  \"secteurs_ok\": [\"tech\", \"impact\", \"SaaS\"],\n  \"secteurs_nok\": [\"défense\", \"gambling\", \"crypto\"],\n  \"experience_min\": 3,\n  \"experience_max\": 5,\n  \"stack\": [\"n8n\", \"claude code\", \"Notion\", \"Jira\", \"SQL\"],\n  \"keywords\": [\"n8n\", \"claude code\", \"ai agents\", \"LLM\", \"automation\"],\n  \"langues\": [\"fr\", \"en\", \"es\"],\n  \"max_age_days\": 7,\n  \"top_n\": 15,\n  \"geo\": [\"Donostia\", \"San Sebastián\", \"remote\", \"full remote\", \"télétravail\"]\n}"
      },
      "id": "node-config-001",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://remotive.com/remote-jobs/rss?category=product&limit=50"
      },
      "id": "node-rss-remotive-001",
      "name": "Remotive RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nreturn $input.all()\n  .filter(item => new Date(item.json.pubDate) >= cutoff)\n  .map(item => ({\n    json: {\n      titre: item.json.title || '',\n      entreprise: item.json.creator || '',\n      url: item.json.link || '',\n      description: item.json.content || item.json.contentSnippet || '',\n      date: item.json.pubDate || '',\n      source: 'Remotive',\n      localisation: 'Remote',\n      salaire: '',\n    }\n  }));"
      },
      "id": "node-fn-remotive-001",
      "name": "Normalize Remotive",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 100]
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/categories/remote-product-jobs.rss"
      },
      "id": "node-rss-wwdr-001",
      "name": "WWDR RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nreturn $input.all()\n  .filter(item => new Date(item.json.pubDate) >= cutoff)\n  .map(item => {\n    const titleParts = (item.json.title || '').split(' at ');\n    return {\n      json: {\n        titre: titleParts[0]?.trim() || item.json.title || '',\n        entreprise: titleParts[1]?.trim() || '',\n        url: item.json.link || '',\n        description: item.json.content || item.json.contentSnippet || '',\n        date: item.json.pubDate || '',\n        source: 'We Work Remotely',\n        localisation: 'Remote',\n        salaire: '',\n      }\n    };\n  });"
      },
      "id": "node-fn-wwdr-001",
      "name": "Normalize WWDR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "url": "https://jobsthatmakesense.com/feed",
        "method": "GET"
      },
      "id": "node-http-jtms-001",
      "name": "JTMS API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 500]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nconst jobs = $input.first().json.jobs || $input.all().map(i => i.json);\n\nreturn jobs\n  .filter(job => new Date(job.published_at || job.pubDate) >= cutoff)\n  .map(job => ({\n    json: {\n      titre: job.title || job.titre || '',\n      entreprise: job.company || job.entreprise || '',\n      url: job.url || job.link || '',\n      description: job.description || job.content || '',\n      date: job.published_at || job.pubDate || '',\n      source: 'Jobs That Make Sense',\n      localisation: job.location || 'Remote',\n      salaire: job.salary || '',\n    }\n  }));"
      },
      "id": "node-fn-jtms-001",
      "name": "Normalize JTMS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 500]
    },
    {
      "parameters": {
        "url": "https://es.indeed.com/rss?q=product+manager&l=Donostia&sort=date&fromage=7"
      },
      "id": "node-rss-indeed-es-001",
      "name": "Indeed.es RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 700]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nconst items1 = $input.all();\n\nreturn items1\n  .filter(item => new Date(item.json.pubDate) >= cutoff)\n  .map(item => ({\n    json: {\n      titre: item.json.title || '',\n      entreprise: item.json.source || '',\n      url: item.json.link || '',\n      description: item.json.contentSnippet || item.json.content || '',\n      date: item.json.pubDate || '',\n      source: 'Indeed.es',\n      localisation: 'Donostia / Remote',\n      salaire: '',\n    }\n  }));"
      },
      "id": "node-fn-indeed-es-001",
      "name": "Normalize Indeed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 700]
    },
    {
      "parameters": {
        "url": "https://www.welcometothejungle.com/fr/jobs/rss?refinementList%5Boffices.country_code%5D%5B%5D=ES&refinementList%5Bcontract_type%5D%5B%5D=CDI"
      },
      "id": "node-rss-wttj-001",
      "name": "WTTJ RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 900]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nreturn $input.all()\n  .filter(item => new Date(item.json.pubDate) >= cutoff)\n  .map(item => ({\n    json: {\n      titre: item.json.title || '',\n      entreprise: item.json.creator || '',\n      url: item.json.link || '',\n      description: item.json.contentSnippet || item.json.content || '',\n      date: item.json.pubDate || '',\n      source: 'Welcome to the Jungle',\n      localisation: item.json.category || 'Espagne',\n      salaire: '',\n    }\n  }));"
      },
      "id": "node-fn-wttj-001",
      "name": "Normalize WTTJ",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 900]
    },
    {
      "parameters": {
        "url": "https://api.infojobs.net/api/9/offer?q=product+manager&city=donostia-san-sebastian&teleworking=2&contractType=1&maxResults=50",
        "method": "GET"
      },
      "id": "node-http-infojobs-001",
      "name": "InfoJobs API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 1100]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nconst offers = $input.first().json.items || [];\n\nreturn offers\n  .filter(offer => new Date(offer.updated) >= cutoff)\n  .map(offer => ({\n    json: {\n      titre: offer.title || '',\n      entreprise: offer.author?.name || '',\n      url: offer.link || '',\n      description: offer.requirementMin || offer.description || '',\n      date: offer.updated || '',\n      source: 'InfoJobs',\n      localisation: offer.city?.value || offer.province?.value || '',\n      salaire: offer.salaryDescription || '',\n    }\n  }));"
      },
      "id": "node-fn-infojobs-001",
      "name": "Normalize InfoJobs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 1100]
    },
    {
      "parameters": {
        "url": "https://www.tecnoempleo.com/rss/?te=1&pais=Espa%C3%B1a&telework=1"
      },
      "id": "node-rss-tecnoempleo-001",
      "name": "Tecnoempleo RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 1300]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nreturn $input.all()\n  .filter(item => new Date(item.json.pubDate) >= cutoff)\n  .map(item => ({\n    json: {\n      titre: item.json.title || '',\n      entreprise: item.json.creator || '',\n      url: item.json.link || '',\n      description: item.json.contentSnippet || '',\n      date: item.json.pubDate || '',\n      source: 'Tecnoempleo',\n      localisation: item.json.category || 'Espagne',\n      salaire: '',\n    }\n  }));"
      },
      "id": "node-fn-tecnoempleo-001",
      "name": "Normalize Tecnoempleo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 1300]
    },
    {
      "parameters": {
        "url": "https://www.computrabajo.es/rss/ofertas-de-trabajo-de-product-manager.xml"
      },
      "id": "node-rss-computrabajo-001",
      "name": "Computrabajo RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 1500]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nreturn $input.all()\n  .filter(item => new Date(item.json.pubDate) >= cutoff)\n  .map(item => ({\n    json: {\n      titre: item.json.title || '',\n      entreprise: item.json.creator || item.json.source || '',\n      url: item.json.link || '',\n      description: item.json.contentSnippet || '',\n      date: item.json.pubDate || '',\n      source: 'Computrabajo',\n      localisation: item.json.category || 'Espagne',\n      salaire: '',\n    }\n  }));"
      },
      "id": "node-fn-computrabajo-001",
      "name": "Normalize Computrabajo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 1500]
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs/search/?keywords=product+manager&location=Donostia&f_WT=2&f_TPR=r604800&f_JT=F"
      },
      "id": "node-rss-linkedin-001",
      "name": "LinkedIn RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 1700]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\nconst maxAge = config.max_age_days;\nconst cutoff = new Date(Date.now() - maxAge * 24 * 60 * 60 * 1000);\n\nreturn $input.all()\n  .filter(item => {\n    try { return new Date(item.json.pubDate) >= cutoff; }\n    catch { return true; }\n  })\n  .map(item => ({\n    json: {\n      titre: item.json.title || '',\n      entreprise: item.json.creator || '',\n      url: item.json.link || '',\n      description: item.json.contentSnippet || '',\n      date: item.json.pubDate || '',\n      source: 'LinkedIn',\n      localisation: 'Donostia / Remote',\n      salaire: '',\n    }\n  }));"
      },
      "id": "node-fn-linkedin-001",
      "name": "Normalize LinkedIn",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [920, 1700]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "node-merge-001",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1160, 900]
    },
    {
      "parameters": {
        "functionCode": "const seen = new Set();\nreturn $input.all().filter(item => {\n  const url = item.json.url;\n  if (!url || seen.has(url)) return false;\n  seen.add(url);\n  return true;\n});"
      },
      "id": "node-fn-dedup-week-001",
      "name": "Dedup Same Week",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1380, 900]
    },
    {
      "parameters": {
        "functionCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.sentUrls) staticData.sentUrls = [];\n\nconst thirtyDaysAgo = Date.now() - 30 * 24 * 60 * 60 * 1000;\nstaticData.sentUrls = staticData.sentUrls.filter(entry => entry.ts > thirtyDaysAgo);\n\nconst sentSet = new Set(staticData.sentUrls.map(e => e.url));\n\nconst newOffers = $input.all().filter(item => !sentSet.has(item.json.url));\n\nreturn newOffers;"
      },
      "id": "node-fn-dedup-hist-001",
      "name": "Dedup Historical",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1600, 900]
    },
    {
      "parameters": {
        "functionCode": "const config = $('Config').first().json;\n\nfunction matchesGeo(localisation, geo) {\n  if (!localisation) return true;\n  const loc = localisation.toLowerCase();\n  return geo.some(g => loc.includes(g.toLowerCase()));\n}\n\nfunction matchesPoste(titre, description, postes) {\n  const text = `${titre} ${description}`.toLowerCase();\n  return postes.some(p => text.includes(p.toLowerCase()));\n}\n\nfunction matchesTeletravail(description, localisation) {\n  const text = `${description} ${localisation}`.toLowerCase();\n  return (\n    text.includes('remote') ||\n    text.includes('télétravail') ||\n    text.includes('teletrabajo') ||\n    text.includes('full remote') ||\n    text.includes('100%')\n  );\n}\n\nfunction avoidsSecteur(description, titre, secteurs_nok) {\n  const text = `${titre} ${description}`.toLowerCase();\n  return !secteurs_nok.some(s => text.includes(s.toLowerCase()));\n}\n\nfunction isRecent(dateStr, max_age_days) {\n  try {\n    const date = new Date(dateStr);\n    const cutoff = new Date(Date.now() - max_age_days * 24 * 60 * 60 * 1000);\n    return date >= cutoff;\n  } catch { return true; }\n}\n\nreturn $input.all().filter(item => {\n  const { titre, description, localisation, date } = item.json;\n\n  const geoOk = matchesGeo(localisation, config.geo) || matchesTeletravail(description, localisation);\n  if (!geoOk) return false;\n\n  if (!matchesPoste(titre, description, config.postes)) return false;\n\n  if (!avoidsSecteur(description, titre, config.secteurs_nok)) return false;\n\n  if (!isRecent(date, config.max_age_days)) return false;\n\n  return true;\n});"
      },
      "id": "node-fn-rule-filter-001",
      "name": "Rule Filter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1820, 900]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [
        [
          { "node": "Remotive RSS", "type": "main", "index": 0 },
          { "node": "WWDR RSS", "type": "main", "index": 0 },
          { "node": "JTMS API", "type": "main", "index": 0 },
          { "node": "Indeed.es RSS", "type": "main", "index": 0 },
          { "node": "WTTJ RSS", "type": "main", "index": 0 },
          { "node": "InfoJobs API", "type": "main", "index": 0 },
          { "node": "Tecnoempleo RSS", "type": "main", "index": 0 },
          { "node": "Computrabajo RSS", "type": "main", "index": 0 },
          { "node": "LinkedIn RSS", "type": "main", "index": 0 }
        ]
      ]
    },
    "Remotive RSS": {
      "main": [[{ "node": "Normalize Remotive", "type": "main", "index": 0 }]]
    },
    "WWDR RSS": {
      "main": [[{ "node": "Normalize WWDR", "type": "main", "index": 0 }]]
    },
    "JTMS API": {
      "main": [[{ "node": "Normalize JTMS", "type": "main", "index": 0 }]]
    },
    "Indeed.es RSS": {
      "main": [[{ "node": "Normalize Indeed", "type": "main", "index": 0 }]]
    },
    "WTTJ RSS": {
      "main": [[{ "node": "Normalize WTTJ", "type": "main", "index": 0 }]]
    },
    "InfoJobs API": {
      "main": [[{ "node": "Normalize InfoJobs", "type": "main", "index": 0 }]]
    },
    "Tecnoempleo RSS": {
      "main": [[{ "node": "Normalize Tecnoempleo", "type": "main", "index": 0 }]]
    },
    "Computrabajo RSS": {
      "main": [[{ "node": "Normalize Computrabajo", "type": "main", "index": 0 }]]
    },
    "LinkedIn RSS": {
      "main": [[{ "node": "Normalize LinkedIn", "type": "main", "index": 0 }]]
    },
    "Normalize Remotive": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 0 }]]
    },
    "Normalize WWDR": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 1 }]]
    },
    "Normalize JTMS": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 2 }]]
    },
    "Normalize Indeed": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 3 }]]
    },
    "Normalize WTTJ": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 4 }]]
    },
    "Normalize InfoJobs": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 5 }]]
    },
    "Normalize Tecnoempleo": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 6 }]]
    },
    "Normalize Computrabajo": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 7 }]]
    },
    "Normalize LinkedIn": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 8 }]]
    },
    "Merge All Sources": {
      "main": [[{ "node": "Dedup Same Week", "type": "main", "index": 0 }]]
    },
    "Dedup Same Week": {
      "main": [[{ "node": "Dedup Historical", "type": "main", "index": 0 }]]
    },
    "Dedup Historical": {
      "main": [[{ "node": "Rule Filter", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "job-agent-v1",
  "id": "job-agent-workflow",
  "meta": { "templateCredsSetupCompleted": true }
}
